                        conname                        | contype |        table_name         
-------------------------------------------------------+---------+---------------------------
 _migration_issues_pkey                                | p       | _migration_issues
 analise_estatistica_avaliacao_id_fkey                 | f       | analise_estatistica
 analise_estatistica_pkey                              | p       | analise_estatistica
 audit_access_denied_pkey                              | p       | audit_access_denied
 audit_logs_clinica_id_fkey                            | f       | audit_logs
 audit_logs_contratante_id_fkey                        | f       | audit_logs
 audit_logs_pkey                                       | p       | audit_logs
 auditoria_geral_pkey                                  | p       | auditoria_geral
 auditoria_laudos_pkey                                 | p       | auditoria_laudos
 auditoria_pkey                                        | p       | auditoria
 auditoria_recibos_pkey                                | p       | auditoria_recibos
 auditoria_recibos_recibo_id_fkey                      | f       | auditoria_recibos
 avaliacao_resets_avaliacao_id_fkey                    | f       | avaliacao_resets
 avaliacao_resets_lote_id_fkey                         | f       | avaliacao_resets
 avaliacao_resets_pkey                                 | p       | avaliacao_resets
 avaliacoes_funcionario_cpf_fkey                       | f       | avaliacoes
 avaliacoes_lote_id_fkey                               | f       | avaliacoes
 avaliacoes_pkey                                       | p       | avaliacoes
 avaliacoes_status_check                               | c       | avaliacoes
 check_numero_parcelas                                 | c       | pagamentos
 chk_audit_logs_user_cpf_format                        | c       | audit_logs
 chk_contratantes_tipo_valido                          | c       | entidades
 chk_contratos_planos_tipo_contratante_valido          | c       | contratos_planos
 chk_fila_emissao_solicitante                          | c       | _deprecated_fila_emissao
 chk_laudos_emissor_when_emitido                       | c       | laudos
 chk_laudos_emitido_antes_enviado                      | c       | laudos
 chk_laudos_emitido_em_emissor_cpf                     | c       | laudos
 chk_laudos_emitido_em_when_emitido                    | c       | laudos
 chk_laudos_hash_pdf_valid                             | c       | laudos
 chk_laudos_hash_when_emitido                          | c       | laudos
 chk_laudos_status_valid                               | c       | laudos
 chk_solicitation_has_requester                        | c       | auditoria_laudos
 chk_status_valid                                      | c       | auditoria_laudos
 chk_tipo_solicitante_valid                            | c       | auditoria_laudos
 chk_token_expiracao                                   | c       | tokens_retomada_pagamento
 clinica_configuracoes_clinica_id_fkey                 | f       | clinica_configuracoes
 clinica_configuracoes_cor_primaria_check              | c       | clinica_configuracoes
 clinica_configuracoes_cor_secundaria_check            | c       | clinica_configuracoes
 clinica_configuracoes_formato_data_preferencial_check | c       | clinica_configuracoes
 clinica_configuracoes_pkey                            | p       | clinica_configuracoes
 clinicas_cnpj_key                                     | u       | clinicas
 clinicas_empresas_clinica_id_fkey                     | f       | clinicas_empresas
 clinicas_empresas_empresa_id_fkey                     | f       | clinicas_empresas
 clinicas_empresas_pkey                                | p       | clinicas_empresas
 clinicas_pkey                                         | p       | clinicas
 clinicas_senhas_clinica_cpf_unique                    | u       | clinicas_senhas
 clinicas_senhas_clinica_id_fkey                       | f       | clinicas_senhas
 clinicas_senhas_cpf_check                             | c       | clinicas_senhas
 clinicas_senhas_cpf_key                               | u       | clinicas_senhas
 clinicas_senhas_pkey                                  | p       | clinicas_senhas
 contratacao_personalizada_contratante_id_fkey         | f       | contratacao_personalizada
 contratacao_personalizada_pkey                        | p       | contratacao_personalizada
 contratantes_cnpj_unique                              | u       | entidades
 contratantes_email_unique                             | u       | entidades
 contratantes_estado_check                             | c       | entidades
 contratantes_pkey                                     | p       | entidades
 contratantes_plano_id_fkey                            | f       | entidades
 contratantes_responsavel_cpf_check                    | c       | entidades
 contratantes_responsavel_cpf_unique                   | u       | entidades
 contratantes_senhas_cpf_check                         | c       | entidades_senhas
 contratantes_senhas_cpf_key                           | u       | entidades_senhas
 contratantes_senhas_pkey                              | p       | entidades_senhas
 contratos_contratante_id_fkey                         | f       | contratos
 contratos_pkey                                        | p       | contratos
 contratos_plano_id_fkey                               | f       | contratos
 contratos_planos_clinica_id_fkey                      | f       | contratos_planos
 contratos_planos_clinica_or_contratante               | c       | contratos_planos
 contratos_planos_contratante_id_fkey                  | f       | contratos_planos
 contratos_planos_modalidade_pagamento_check           | c       | contratos_planos
 contratos_planos_pkey                                 | p       | contratos_planos
 contratos_planos_plano_id_fkey                        | f       | contratos_planos
 contratos_planos_tipo_contratante_check               | c       | contratos_planos
 contratos_planos_tipo_pagamento_check                 | c       | contratos_planos
 emissao_queue_lote_id_fkey                            | f       | emissao_queue
 emissao_queue_pkey                                    | p       | emissao_queue
 empresas_clientes_clinica_id_fkey                     | f       | empresas_clientes
 empresas_clientes_cnpj_key                            | u       | empresas_clientes
 empresas_clientes_contratante_id_fkey                 | f       | empresas_clientes
 empresas_clientes_parent_check                        | c       | empresas_clientes
 empresas_clientes_pkey                                | p       | empresas_clientes
 fila_emissao_lote_id_fkey                             | f       | _deprecated_fila_emissao
 fila_emissao_lote_id_fkey1                            | f       | fila_emissao
 fila_emissao_lote_id_unique                           | u       | _deprecated_fila_emissao
 fila_emissao_pkey                                     | p       | _deprecated_fila_emissao
 fila_emissao_pkey1                                    | p       | fila_emissao
 fila_emissao_tipo_solicitante_check                   | c       | _deprecated_fila_emissao
 fk_auditoria_laudos_lote_id                           | f       | auditoria_laudos
 fk_avaliacoes_funcionario                             | f       | avaliacoes
 fk_contratantes_senhas_contratante                    | f       | entidades_senhas
 fk_empresas_clinica                                   | f       | empresas_clientes
 fk_funcionarios_clinica                               | f       | funcionarios
 fk_funcionarios_contratante                           | f       | funcionarios
 fk_funcionarios_ultima_avaliacao                      | f       | funcionarios
 fk_laudos_emissor_cpf                                 | f       | laudos
 fk_laudos_lote                                        | f       | laudos
 fk_laudos_lote_id                                     | f       | laudos
 fk_lotes_clinica                                      | f       | lotes_avaliacao
 fk_mfa_funcionarios                                   | f       | mfa_codes
 fk_notificacoes_contratante                           | f       | notificacoes_admin
 fk_notificacoes_contrato                              | f       | notificacoes_admin
 fk_notificacoes_pagamento                             | f       | notificacoes_admin
 fk_recibos_clinica                                    | f       | recibos
 fk_recibos_contratante                                | f       | recibos
 fk_recibos_contrato                                   | f       | recibos
 fk_recibos_pagamento                                  | f       | recibos
 fk_respostas_avaliacao                                | f       | respostas
 fk_resultados_avaliacao                               | f       | resultados
 fk_tokens_contratante                                 | f       | tokens_retomada_pagamento
 fk_tokens_contrato                                    | f       | tokens_retomada_pagamento
 funcionarios_clinica_id_check                         | c       | funcionarios
 funcionarios_clinica_id_fkey                          | f       | funcionarios
 funcionarios_clinicas_empresa_id_fkey                 | f       | funcionarios_clinicas
 funcionarios_clinicas_funcionario_id_fkey             | f       | funcionarios_clinicas
 funcionarios_clinicas_pkey                            | p       | funcionarios_clinicas
 funcionarios_clinicas_unique                          | u       | funcionarios_clinicas
 funcionarios_cpf_key                                  | u       | funcionarios
 funcionarios_empresa_id_fkey                          | f       | funcionarios
 funcionarios_entidades_entidade_fkey                  | f       | funcionarios_entidades
 funcionarios_entidades_funcionario_id_fkey            | f       | funcionarios_entidades
 funcionarios_entidades_pkey                           | p       | funcionarios_entidades
 funcionarios_entidades_unique                         | u       | funcionarios_entidades
 funcionarios_matricula_key                            | u       | funcionarios
 funcionarios_nivel_cargo_check                        | c       | funcionarios
 funcionarios_owner_check                              | c       | funcionarios
 funcionarios_perfil_check                             | c       | funcionarios
 funcionarios_pkey                                     | p       | funcionarios
 laudo_arquivos_remotos_laudo_id_fkey                  | f       | laudo_arquivos_remotos
 laudo_arquivos_remotos_pkey                           | p       | laudo_arquivos_remotos
 laudo_downloads_arquivo_remoto_id_fkey                | f       | laudo_downloads
 laudo_downloads_laudo_id_fkey                         | f       | laudo_downloads
 laudo_downloads_pkey                                  | p       | laudo_downloads
 laudo_generation_jobs_lote_id_fkey                    | f       | laudo_generation_jobs
 laudo_generation_jobs_pkey                            | p       | laudo_generation_jobs
 laudos_emissor_cpf_fkey                               | f       | laudos
 laudos_emissor_cpf_fkey1                              | f       | laudos
 laudos_id_equals_lote_id                              | c       | laudos
 laudos_lote_emissor_unique                            | u       | laudos
 laudos_lote_id_fkey                                   | f       | laudos
 laudos_lote_id_unique                                 | u       | laudos
 laudos_pkey                                           | p       | laudos
 logs_admin_pkey                                       | p       | logs_admin
 lotes_avaliacao_clinica_id_fkey                       | f       | lotes_avaliacao
 lotes_avaliacao_clinica_or_contratante_check          | c       | lotes_avaliacao
 lotes_avaliacao_contratante_id_fkey                   | f       | lotes_avaliacao
 lotes_avaliacao_empresa_id_fkey                       | f       | lotes_avaliacao
 lotes_avaliacao_empresa_numero_ordem_unique           | u       | lotes_avaliacao
 lotes_avaliacao_liberado_por_fkey                     | f       | lotes_avaliacao
 lotes_avaliacao_pkey                                  | p       | lotes_avaliacao
 lotes_avaliacao_status_check                          | c       | lotes_avaliacao
 lotes_avaliacao_tipo_check                            | c       | lotes_avaliacao
 mfa_codes_pkey                                        | p       | mfa_codes
 migration_guidelines_pkey                             | p       | migration_guidelines
 no_gestor_entidade_in_funcionarios                    | c       | funcionarios
 notificacao_destinatario_valido                       | c       | notificacoes
 notificacoes_admin_lote_id_fkey                       | f       | notificacoes_admin
 notificacoes_admin_pkey                               | p       | notificacoes_admin
 notificacoes_destinatario_tipo_check                  | c       | notificacoes
 notificacoes_pkey                                     | p       | notificacoes
 notificacoes_traducoes_categoria_check                | c       | notificacoes_traducoes
 notificacoes_traducoes_pkey                           | p       | notificacoes_traducoes
 pagamentos_contrato_id_fkey                           | f       | pagamentos
 pagamentos_idempotency_key_key                        | u       | pagamentos
 pagamentos_pkey                                       | p       | pagamentos
 payment_links_contrato_id_fkey                        | f       | payment_links
 payment_links_pkey                                    | p       | payment_links
 payment_links_token_key                               | u       | payment_links
 pdf_jobs_pkey                                         | p       | pdf_jobs
 pdf_jobs_recibo_id_fkey                               | f       | pdf_jobs
 pdf_jobs_recibo_id_key                                | u       | pdf_jobs
 pdf_jobs_status_check                                 | c       | pdf_jobs
 permissions_name_key                                  | u       | permissions
 permissions_pkey                                      | p       | permissions
 planos_pkey                                           | p       | planos
 policy_expression_backups_pkey                        | p       | policy_expression_backups
 questao_condicoes_pkey                                | p       | questao_condicoes
 recibos_contratante_ou_clinica_check                  | c       | recibos
 recibos_numero_funcionarios_check                     | c       | recibos
 recibos_numero_parcelas_check                         | c       | recibos
 recibos_numero_recibo_key                             | u       | recibos
 recibos_pagamento_id_unique                           | u       | recibos
 recibos_pkey                                          | p       | recibos
 recibos_valor_funcionario_check                       | c       | recibos
 recibos_valor_total_check                             | c       | recibos
 recibos_vigencia_check                                | c       | recibos
 relatorio_templates_pkey                              | p       | relatorio_templates
 relatorio_templates_tipo_check                        | c       | relatorio_templates
 respostas_avaliacao_id_fkey                           | f       | respostas
 respostas_avaliacao_id_grupo_item_key                 | u       | respostas
 respostas_pkey                                        | p       | respostas
 respostas_valor_check                                 | c       | respostas
 resultados_avaliacao_id_fkey                          | f       | resultados
 resultados_avaliacao_id_grupo_key                     | u       | resultados
 resultados_categoria_check                            | c       | resultados
 resultados_pkey                                       | p       | resultados
 role_permissions_permission_id_fkey                   | f       | role_permissions
 role_permissions_pkey                                 | p       | role_permissions
 role_permissions_role_id_fkey                         | f       | role_permissions
 roles_name_key                                        | u       | roles
 roles_pkey                                            | p       | roles
 session_logs_pkey                                     | p       | session_logs
 templates_contrato_nome_key                           | u       | templates_contrato
 templates_contrato_pkey                               | p       | templates_contrato
 templates_contrato_tipo_template_check                | c       | templates_contrato
 tokens_retomada_pagamento_pkey                        | p       | tokens_retomada_pagamento
 tokens_retomada_pagamento_token_key                   | u       | tokens_retomada_pagamento
 unique_clinica_config                                 | u       | clinica_configuracoes
 unique_traducao                                       | u       | notificacoes_traducoes
 usuarios_clinica_id_fkey                              | f       | usuarios
 usuarios_cpf_check                                    | c       | usuarios
 usuarios_cpf_key                                      | u       | usuarios
 usuarios_entidade_id_fkey                             | f       | usuarios
 usuarios_gestor_check                                 | c       | usuarios
 usuarios_pkey                                         | p       | usuarios
 usuarios_tipo_check                                   | c       | usuarios
(214 linhas)

